{% extends 'base.html' %}

{% block title %}
All posts
{% endblock title %}


{% block content %}
{% for post in posts %}
<div class="card shadow-sm my-3">
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted small py-2">{{ post.datetime_created }}</h6>
        <p class="card-text py-3" style="text-align: justify;">
            {{ post.text }}
        </p>
        <a href="{% url "detail" 2 %}">
            <div class="btn btn-sm btn-outline-success">Read More</div>
        </a>
    </div>
</div>
{% endfor %}
{% endblock content %}