{% extends 'base.html' %}

{% block title %}
All posts
{% endblock title %}


{% block content %}
    <div class="card shadow-sm my-3">
        <div class="card-body">
            <h5 class="card-title">Title</h5>
            <h6 class="card-subtitle mb-2 text-muted small py-2">16 Nov 2022</h6>
            <p class="card-text py-3" style="text-align: justify;">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus dicta quibusdam soluta nesciunt, autem delectus numquam quas sint, corrupti sed facilis eveniet distinctio eligendi repudiandae esse et quo nulla. Hic.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti optio dicta quod quis voluptates atque eius eos laudantium, quaerat, minima veritatis in illum saepe cum fugit! Fugit, repudiandae animi. Provident.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus qui cumque possimus id et quam? Magni consequatur sequi soluta eius aperiam, quos voluptatem a dolores atque enim numquam, est odio!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, sit quis ea vero veniam blanditiis suscipit itaque quibusdam illo molestias nobis velit inventore error, rerum ipsa. Aliquid tempora voluptatum expedita!
            </p>
            <a href="{% url "detail" 2 %}">
                <div class="btn btn-sm btn-outline-success">Read More</div>
            </a>
        </div>
    </div>
{% endblock content %}