{% extends "base.html" %}
{% block title %}
جزییات پست {{ post.title }}
{% endblock title %}
{% block content %}
<div class="card shadow my-3 p-5">
    <h1> {{ post.title }} </h1>
    <p class="small text-muted mt-2">Created on: {{ post.datetime_created }}</p>
    <p class="mt-2" style="text-align: justify">
        {{ post.text }}
    </p>
    <p class="small text-muted">Writer: {{ post.author }}</p>
    <p class="small text-muted mt">Last modified on: {{ post.datetime_modified }}</p>
    <a href="{% url 'update' post.id %}">Update {{ post.title }}</a>
    <a href="{% url 'delete' post.id %}">Delete {{ post.title }}</a>
</div>

<div class="card shadow my-3 p-5">
    <h3>Comments:</h3>
    {% if comments %}
        {% for comment in comments %}
        {% if comment.status %}
            <h2> {{ comment.author_name }} </h2>
            <p> {{ comment.text }} </p>
            <h6> {{ comment.datetime_created }} </h6>
            <hr>
        {% endif %}
        {% endfor %}
    {% else %}
        Comments will be shown here ...
    {% endif %}
</div>

<div class="card shadow my-3 p-5">
    <h3>Add new comment:</h3>
    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit" class="btn btn-primary mt-1">Submit</button>
    </form>
</div>
{% endblock content %}